body {
    background: #D3EFF7;
}
/* #container {
    width: 500px;
    height: 800px;
    background: #191919;
    margin: 0 auto;
    overflow: hidden;
}
/* cars {
    width: 50px;
    height: 75px;
    background: red;
    position: absolute;
}
#car {
   bottom: 10%;
   left: 50%
} */
#container{
    position: relative;
    height: 95vh;
    width: 500px;
    left: 25%;
    margin-top: 0 auto;
    background-color: #393939;
    overflow: hidden;
}
.cars{
    position: absolute;
    height: 75px;
    width: 50px;
    border-radius: 10px;
}
#car{
    bottom: 25px;
    left: 225px;
    background-color: red;
}