body {
    background: #D3EFF7;
}

#start {
    position: relative;
    font-size: 20px;
    top: 500px;
}

#container{
    position: relative;
    height: 95vh;
    width: 510px;
    left: 25%;
    margin-top: 0 auto;
    background-color: #393939;
    border: 2px solid black;
    /* overflow: hidden; */
}

.cars{
    position: absolute;
    height: 90px;
    width: 60px;
    border-radius: 10px;
}

#car{
    bottom: 25px;
    left: 25px;
    /* background-color: #393939; */
}

.lane {
    height: 125px;
    width: 10px;
    position: absolute;
    background: white;
}
#line1 {
    left: 120px;
    top: 90px;
}
#line2 {
    left: 250px;
    top: 30px;
}
#line3 {
    left: 380px;
    top: 90px;
}
#line4 {
    left: 120px;
    top: 350px;
}
#line5 {
    left: 250px;
    top: 275px;
}
#line6 {
    left: 380px;
    top: 350px;
}
#line7 {
    left: 120px;
    top: 610px;
}
#line8 {
    left: 250px;
    top: 570px;
}
#line9 {
    left: 380px;
    top: 610px;
}


.box {
    width: 100px;
    height: 100px;
    background: green;
}