body {
    background: #D3EFF7;
    max-width: 1600px;
    min-width: 550px;
}

#sidebar {
    position: relative;
    margin: 0 auto;
    width: 500px;
    height: 95vh;
    display: inline-block;
}
.btn {
    font-size: 22px;
    font-weight: bold;
    /* margin-bottom: 5px; */
    padding: 1px;
}
#restart {
    display: none;
}

#container{
    position: relative;
    height: 95vh;
    width: 510px;
    background-color: #696969;
    border: 2px solid black;
    overflow: hidden;
    margin: 0 auto;
    display: inline-block;
}

.cars{
    position: absolute;
    height: 90px;
    width: 60px;
    border-radius: 10px;
    
}

#car{
    left: 25px;
    bottom: 25px;
}
#orange {
    left: 170px;
    top: 500px;
}
#purple {
    left: 295px;
    top: 300px;
}
#white {
    left: 425px;
    top: 50px;
}


.lane {
    height: 125px;
    width: 10px;
    position: absolute;
    background: white;
}
#line1 {
    left: 120px;
    top: 90px;
}
#line2 {
    left: 250px;
    top: 30px;
}
#line3 {
    left: 380px;
    top: 90px;
}
#line4 {
    left: 120px;
    top: 350px;
}
#line5 {
    left: 250px;
    top: 275px;
}
#line6 {
    left: 380px;
    top: 350px;
}
#line7 {
    left: 120px;
    top: 610px;
}
#line8 {
    left: 250px;
    top: 570px;
}
#line9 {
    left: 380px;
    top: 610px;
}

#gameover{
    position: relative;
    height: 95vh;
    width: 508px;
    background: black;
    margin: 0 auto;
    display: none;
}

/* .box {
    width: 100px;
    height: 100px;
    background: green;
} */